/* *{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(0.6deg,rgb(173, 245, 164),#41faeb7a), url(https://img.freepik.com/free-vector/variety-cute-shapes-abstract-background_23-2148544989.jpg?w=2000);
    background-size: 100%;
    background-repeat:no-repeat;
   
} */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.text-white{
    color: white !important;
}
html{
    scroll-behavior: smooth;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    /* background-color: #ffffff; */
}

.main{
   
    height:auto;


}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.col{
    float:left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half{
    width: 50%;
}
.col-third{
    
    width: 33.3333%;
    
}
.col-full{
    width: 100%;
}
.header{
    --height:46px;
    height: var(--height);
    width: 100%;
    background-color:rgb(0, 0, 0);
    position:fixed;
    top:0px;
    z-index: 1;
    font-size: 15px;
    animation: headerFadeIn ease 1s;

}   

.nav-arrow-down{
    font-size:14px;
}
.header .menu-mobile-bth
{
    
    color:white;
    font-size: 15px;
    float: right;
    line-height: 46px;
    padding: 0 17px;
    cursor:pointer;
    
}
.header .search-box{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffff;
    height: 46px;
    border-radius: 40px;
    margin-right: 10px;
    /* padding: 3px; */
}
.linkBy{
   color: rgb(231, 188, 46);
    font-size: 25px;
    text-shadow: 0px 0px  2px #f1b40b;
    text-decoration: none;
    
}
.header .search-box .search-bth{
    
    text-decoration: none;
    color:rgb(255, 16, 16);
    font-size: 15px;
    width: 46px;
    float: right;
    line-height: 46px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 0 17px;
    cursor:pointer;
    background-color: #88b6ac7c;
    border-radius: 50%;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 16px;
    transition: 0.4s;
    line-height: 46px;
    width: 0px;
    

}

.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 26px;
    box-sizing: border-box;

}
.header .menu-mobile-bth{
    display: none;
    position: absolute;
    top:0;
    right: 0;
    transform: 0.4s;
}

.header .menu-mobile-bth:hover,
.header .search-box:hover > .search-bth{
    background-color: rgb(255, 255, 255);
    box-shadow:  5px 10px 10px #0e0b0b;

    /* box-shadow:0 0 12px rgba(228, 150, 49, 0.568); */
    ;
}
#nav{
    padding: 0px;
    display: inline-block;
}
#nav >li{
    display: inline-block;
    line-height: 46px;
    position: relative;
    
   
    
}
#nav .subnav  a{
    color: black;   
    padding: 0px 16px;
    line-height: 38px;
}

/* #nav > li{
    display: inline-block;
} */
#nav .subnav{
    display: none;
    position: absolute;
    top:100%;
    left: 0;
    list-style: none;
    box-shadow:0px 0 30px rgba(24, 23, 23, 0.514);
}
#nav .subnav li {
   background-color: white;                     
    color: black;
    
}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav li:hover,#nav >li:hover> a {
    background-color: rgba(231, 226, 226, 0.5)
}
#nav >li >a{
    color: aliceblue;
    text-transform: uppercase;
    padding: 0px 24px 0px;
}
#nav li a{
    
    text-decoration: none;
    display: block;
    
}


 #slider{
    margin-top:46px;

    width: 100wh;
    padding-top: 50%;
    background:url(../img/slider/img2.jpg) top center / cover no-repeat;        
    position: relative;
}
#slider .text-content{
    position: absolute;
    bottom: 0;
    /* background-color: white; */
    color: white;
    padding: 32px;
    margin: 15px;
    left: 0;
    right: 0;
    text-align: center;
   
}
#slider .text-heading{
    font-weight: 500;
    font-size: 30px;
    margin: 12px 0;
} 
.content{
    
    font:'Times New Roman'
    
}
.content .content-section{
    
    height:fit-content;
    text-align: center;
    padding: 64px 16px;
    width: 1000px;
    max-width: 100%;
    margin-left:  auto;
    margin-right: auto;
    
}.content .content-section::after{
    content: "";
    display: block;
    clear: both;
}
.section-heading{
    
    margin: 10px 0;
    text-transform:uppercase ;
    line-height: 45px;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 4px;
}  
    
.section-sub-heading{
    
    width: 100%;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    opacity: 0.6;
    line-height: 22.4px;    
}

.content .about-text{
    display: block;
    margin: 15px 0;
    font-size: 25px ;
    text-align: justify;
    word-spacing: 0px;
    font-weight: 400;   
    
}
 .content .member{
  
    margin-top: 48px;

}
.text-center{
    
    text-align: center;
}

.box-name .name{
    /* display: none; */
    position: absolute;
    color: #0a0803;
    font-size: 20px;
    transition: all .5s ease-in-out;
    left: 40%;
    top: -10%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(45deg,  rgb(150, 166, 211),  rgb(219, 93, 93));
}



.imgband{
    margin-bottom: 20px;
    width: 200px;
    min-width: calc(100%-31px);
    height: auto;
    border-radius: 10%;
    transition:  .4s, filter .5s linear;
    transform-origin: center center;
    filter: brightness(100%);
    /* display: none; */
    
}
.box-name{
    height: 300px;
    margin-bottom: 30px;
    position: relative;
    

}
.box-name:hover>.imgband{
    width: 220px;
    margin-bottom: 0;
    transform:translateY(-1rem) rotate(3deg);  
    filter: brightness(60%);
    /* display: none; */
    /* transform: scale(1.2); */
   
}

.box-name:hover>.name{
    position: absolute;
    font-weight: 800;
    z-index: 2;
    top: 20%;
    left: 40%;
    transform:scale(2);
    text-shadow:  2px 19px 9px #0e0a0a;
    

}



.content .tour-section{
    background-color: black;
    
}
.tour-section ul{
    background-color: white;
 
    margin-top: 40px;
}
.tour-section ul li{
    opacity: 0.7;
    border-bottom-style: solid;
    border-bottom-width: 1.3px;
    text-align: left;
    padding: 8px 16px;
    list-style: none;
    font-size: 15px;
    line-height: 24px;
}
.Sold-out{
    color: wheat;
    background-color: red;
    margin-left: 16px;
    padding: 0 8px;
}
.date{
    font-weight: 900;
    /* text-shadow: 0px 2px 0px #0cff20; */
    color: #068d43;
}
.date .number{
    width: 24px;
    height: 24px;
    font-size: 12px;
    opacity: 1 !important;
    background-color: black;
    padding: 0 8px;
    text-align: center;
    border-radius: 50%;
    line-height: 24px;
    float: right;
}
.address-location{
   margin-top: 32px;
   margin-bottom: 48px;
}

 .imglocation{
    width: 100%;
    display: block;
}
.imglocation:hover{
    opacity: 0.6;
   
}   
.about-location{
    background-color: white; 
    text-align: left;
    padding: 16px;
    font-size: 15px;
   
}
.heading-location{
    font-size: 15px;
    font-weight: 700;
    margin: 15px 0;
    display: inline-block;
}
.time{
    opacity: 0.6;
    margin: 15px 0;
}
.detail{
    margin: 15px 0;
  
}   
.buy-tickets{
    padding: 8px 16px;
    margin-bottom: 16px;
    background-color:black;
    color:white;
    font-weight: 600;
    text-decoration: none;
    border-radius: 20px;
    background-image: linear-gradient( 45deg,  rgb(82, 241, 207),  green);

    transition: all 1s ease-in-out ;

  
}
.buy-tickets:hover{
    color: black;
    background-image: linear-gradient( 45deg,  green ,rgb(82, 241, 207));


    /* animation: colorFadeIn  .8s ease-in-out infinite;
    animation-direction:alternate-reverse;
  */
}
.tickets-modal.open{
    display: flex;
}
.tickets-modal{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    display: none;
    

}
.modal-container{
    position: relative;
    background-color: #ffffff;
    width: 1000px;
    margin-top: 200px;
    max-width: calc(100% - 20px);
    height: fit-content;
    animation: modalFadeIn ease 0.5s;
    
}
.modal-container .modal-header{
    background-color: #009688;
    line-height: 45px;
    text-align: center;
    color: white;
    font-size: 30px;
    letter-spacing: 6.6px;
    padding: 32px 16px;
    
}
.modal-bag-icon{
    margin-right: 0px;
    
}
.modal-close:hover,.modal-close-s2:hover,#modal-pay:hover{
    background-color: #c9b8b8;
    opacity: 1;
    color: black;
}
.modal-close{
    position: absolute;
    top:0;
    right: 0;
    padding: 16px 16px;
    color: white;
    font-size: 12px;
    opacity: 0.8;
    cursor: pointer;
}
.modal-body{
    padding: 0 16px;
}
.modal-body .modal-label{
    text-align: left;
    margin: 15px 0;
    left: 0px;
    right: 0;
}
.modal-body{
    padding: 0 16px;
}
.modal-label{
    display: block;
}
.modal-input{
    width: 100%;
    border: 1xp solid #ccc;
    padding: 8px;

}
#modal-pay{
    width: 100%;
    background-color: #009688;
    margin: 16px 0;
    padding: 16px;
    text-transform: uppercase;
    border:none;
    color:white;
    font-size: 20px;
    cursor: pointer;
}
.modal-help{
    margin: 15px 0;
    float: right;
}
.modal-close-s2{
   
    float: left;
    background-color: red;
    color: white;
    padding: 8px 16px;
    margin: 16px 0;
    border-radius: 5%;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
input{
    padding: 8px;
}
.text-contact{
    margin-bottom: 10px;
    font-size: 18px;
}
.padding-input{
    padding: 0 8px;
    font-size: 15px;
}
.form-control{
    width: 100%;
    border: 1px solid #ccc;
}
.row.input-top{
    margin-bottom: 10px;
}

.row:after{
    content: "";
    display: block;
    clear: both;             
}
.submit-send{
    margin: 16px 0;
    padding: 8px 16px;
    background-color: black;
    color: white;
    float: right;
    cursor: pointer;    

}
.img-border>img{
    width: 100%;
    filter: grayscale(0.6);

}
footer{
    padding: 64px 16px;
    text-align:center;
    justify-content: center;
    opacity: 0.8;
    font-size: 20px;
    
}
.text-footer{
    margin: 15px 0;
    font-weight: 800;
    
}

@Keyframes modalFadeIn {
    from{
        transform: translateY(-100px);
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes colorFadeIn  {
    from{
        
        background-image: linear-gradient( 45deg,  rgb(82, 241, 207),  green);
        }
    /* 50%{
        background-image: linear-gradient( 45deg,green, rgb(82, 241, 207),green);
        } */
    to{
        background-image: linear-gradient( 45deg,  green ,rgb(82, 241, 207));
    }
}

@Keyframes headerFadeIn {
    from{
        transform: translateY(-200px);
    }
    to{
        transform: translateY(0px);
    }
}
@Keyframes changeName {
    from{
        transform:translate(50%,200px);

    }
    to{
        transform: translate(20px,200px);
    }
}

@Keyframes backgroudFadeIn {

from{
    background-image:linear-gradient( rgba(215, 86, 247, 0.658) to rgba(161, 36, 36, 0.623));
}
to{
    background-image:linear-gradient(  rgba(161, 36, 36, 0.623) to rgba(215, 86, 247, 0.658));
}

}

@media (max-width:740px) {  
    .header{
        overflow: hidden    ;
     }
    .header .search-bth{
        display: none;
    }
    #nav>li:first-child
    {
        display: inline-block
    }
    .col{
        width: 100%;
    }
    .header .menu-mobile-bth{
        display: inherit;
    }
    #nav {
        display: block;
    }
     #nav >li{
    display: block;
     }
     #nav .subnav{
        display: block;
        position:initial;
     }
     #nav .subnav a{
        color: white;
        background-color: #333;
        padding: 5px 50px;

     }

   
    .box-name{
        position: relative;
    }
    .box-name .name{
        position: absolute;
        top: 20%;
        left: 40%;
        transition: all 1s ease-in-out;
        opacity: 0;
        text-decoration: none;
        -webkit-background-clip: text;
        background-image: linear-gradient( to right,  rgb(82, 241, 207),  green);                                                                           
    }
    .box-name:hover>.name{
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient( to right,  rgb(82, 241, 207),  green);
        text-shadow: 0px 10px 10px #201919;
        font-weight: 700;
        opacity: 1;
        top: 70%;
        
        transform:scale(1.2)
    }
    #slider .text-heading{
        font-weight: 500;
        font-size: 20px;
        margin: 12px 0;
    } 
    #slider .text-content{
       
        padding: 12px;

    }
    .box-name> .imgband{
        width: 200px;
        margin-bottom: 0;
        transform:none;  
        filter: brightness(60%);
        box-shadow: 0px 0px 10px 3px  #70ff77;
       
    }
    .box-name:hover>.imgband{
        width: 180px;
        margin-bottom: 0;
        transform:none;  
        filter: brightness(60%);
        /* display: none; */
        /* transform: scale(1.2); */
       
    }
    .content .about-text{
        display: block;
        margin: 15px 0;
        font-size: 15px ;
        text-align: justify;
        word-spacing: 0px;
        font-weight: 400;   
        
    }
    input{
        border: 3px solid #70ff77;
    }
    .form-control{
        margin: 2xp 2px;
    }
    footer{
        padding: 30px 16px;
        opacity: 0.3;
        font-size: 15px;
        
    }
    .text-contact{
        font-size: 10px;
    }
}